@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
  margin: 0;
  font-family: -apple-system, 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2{
  font-family: 'Prata', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
